<?xml version="1.0"?>
<!--
/**
 * Openpay_Cards default configuration
 *
 * @category    Openpay
 * @package     Openpay_Cards
 * @author      Federico Balderas
 * @copyright   Openpay (http://openpay.mx)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <openpay_cards>
                <active>0</active>
                <model>Openpay\Cards\Model\Payment</model>                
                <order_status>pending</order_status>                
                <title>Openpay</title>
                <sandbox_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />                
                <live_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />     
                <cctypes>AE,VI,MC</cctypes>
                <payment_action>authorize_capture</payment_action>
                <save_cc>0</save_cc>
                <use_card_points>no</use_card_points>
                <allowspecific>0</allowspecific>                        
                <!-- <minimum_amount>1800</minimum_amount> -->
            </openpay_cards>
        </payment>
    </default>
</config>
