<?xml version="1.0"?>
<!--
/**
 * Openpay_Cards routes definition
 *
 * @category    Openpay
 * @package     Openpay_Stores
 * @author      Federico Balderas
 * @copyright   Openpay (http://openpay.mx)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="openpay" frontName="openpay">
            <module name="Openpay_Cards" />
        </route>
    </router>
</config>
