<?xml version="1.0"?>
<!--
/**
 * Openpay_Cards admin configuration
 *
 * @category    Openpay
 * @package     Openpay_Cards
 * @author      Federico Balderas
 * @copyright   Openpay (http://openpay.mx)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="openpay_cards" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Openpay (Tarjetas)</label>
                <comment>
                    <![CDATA[<a href="http://openpay.mx/" target="_blank">Clic aquí para registrar una cuenta con Openpay</a>]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_sandbox" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Título</label>
                </field>
                <field id="sandbox_merchant_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Merchant ID</label>                    
                </field>
                <field id="sandbox_sk" translate="label" type="obscure" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Llave Secreta</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="sandbox_pk" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Llave Pública</label>                    
                </field>
                <field id="live_merchant_id" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción Merchant ID</label>                    
                </field>
                <field id="live_sk" translate="label" type="obscure" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Producción Llave Secreta</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="live_pk" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Producción Llave Pública</label>                    
                </field>   
                <!--<field id="order_status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Estatus de la orden</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>                    
                </field>-->
                <field id="charge_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>¿Cómo procesar el cargo?</label>
                    <source_model>Openpay\Cards\Model\Source\ChargeTypes::getTypes</source_model>
                    <comment>¿Qué es la autenticación selectiva? Es cuando se detecta riesgo en la transacción y se manda por 3D Secure.</comment>
                </field>  
                <field id="payment_action" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Configuración del cargo</label>
                    <source_model>Openpay\Cards\Model\Source\PaymentAction</source_model>
                    <comment>Indica si el cargo se hace o no inmediatamente, con la pre-autorización solo se reserva el monto para ser confirmado o cancelado posteriormente. Las pre-autorizaciones no pueden ser utilizadas en combinación con pago con puntos Bancomer.</comment>
                </field>   
                <field id="use_card_points" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pago con puntos</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Recibe pagos con puntos Bancomer habilitando esta opción. Esta opción no se puede combinar con pre-autorizaciones o MSI.</comment>
                </field>
                <field id="save_cc" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Guardar tarjetas</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Permite a los usuarios guardar sus tarjetas de crédito para agilizar sus futuras compras.</comment>
                </field>   
                <field id="cctypes" translate="label" type="multiselect" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tipos de Tarjetas</label>
                    <source_model>Openpay\Cards\Model\Source\Cctype</source_model>
                    <comment>Presione ctrl y clic para seleccionar más de una opción</comment>
                </field>   
                <field id="interest_free" translate="label" type="multiselect" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Meses sin Intereses</label>
                    <source_model>Openpay\Cards\Model\Source\MonthsInterestFree::getMonths</source_model>
                    <comment>Presione ctrl y clic para seleccionar más de una opción, esta opción no se puede combinar con pago con puntos. Recomendamos revises la documentación de los MSI (https://www.openpay.mx/costos.html).</comment>
                </field>                                   
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pago aplicable para países</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pago para países específicos</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>    
                <field id="sort_order" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Orden</label>
                </field>                       
            </group>
        </section>
    </system>
</config>
